<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.unicom.met.mapper.PlaceMapper">
    <!--查询所有,分页-->
    <select id="getList" resultType="cn.unicom.met.entity.Place">
        select *  from place limit #{startRecord},#{pageSize}
    </select>
    <!--查询数量-->
    <select id="getCount" resultType="int">
        SELECT COUNT(place.name) from place
    </select>

    <!--条件查询-page/rows-->
    <select id="place_page" resultType="cn.unicom.met.entity.Place">
        select * from place limit #{startRecord},#{pageSize}
    </select>
    <!--新增-->
    <insert id="add_place" parameterType="cn.unicom.met.entity.Place">
        insert into place  VALUES (  #{place.uuid},#{place.address} )
    </insert>
    <!--修改-->
    <update id="update_place">
        UPDATE place SET place.address= #{place.address}  WHERE place.uuid = #{place.uuid}
    </update>
    <!--删除-->
    <delete id="del_place">
        delete from place where uuid=#{uuid}
    </delete>
    <!--查询单个部门-->
    <select id="get_place" resultType="cn.unicom.met.entity.Place" >
        select * from place
        where  place.uuid = #{uuid}
    </select>
    <!--/////////////////////////////////-->
    <!--搜索查询place-->
    <select id="find_place" resultType="cn.unicom.met.entity.Place">
        select * from place  where 1=1
        <if test="address!='' and address!=null ">
            and place.address LIKE CONCAT(CONCAT('%', #{address}),'%')
        </if>
        limit #{startRecord},#{pageSize}
    </select>
    <!--///////////////////////////////////-->
    <!--条件查询-page/rows-->
    <select id="findCount" resultType="int" >
        select count(*) from place where 1=1
        <if test="address!='' and address!=null ">
            and place.address LIKE CONCAT(CONCAT('%', #{address}),'%')
        </if>
    </select>

</mapper>


